---
---

/* General Spacing  */
$spacing-unit:  30px;
$content-width: 70%;
$content-padding: 5px;

/* Fonts */

$fonts-regular: 'Cambay', sans-serif;
$fonts-category: 'Surunna', serif;
$fonts-source-code: 'Source Code Pro', serif;
$fonts-decorative: 'Montserrat', sans-serif;

$fonts-source-size: 15px;
$font-size-regular: 18px;

/* Colors */
$colors-code-background: #E3E3E3;
$colors-deep:  #1CBABC;

/* Tags */

blockquote {
  display: inline-block;
  padding: 5px;
  background-color: $colors-code-background;
  border-radius: 5px;
}

blockquote::before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
  background: $colors-code-background;
  padding: 3px;
  border-radius: 5px;
  font-family: $fonts-source-code;
}

a {
  color: black;
}

/* Classes */

.post {
  font-family: $fonts-regular;
  font-size: $font-size-regular;
}

.screen-content {
  max-width: $content-width;
  margin: 0 auto;
  padding: $content-padding;
}

.post-header h1 {
  text-align: right;
}

.post-header {
  @extend .screen-content;
}

.post-content {
  @extend .screen-content;
  text-align: justify;
}

.post-content::first-letter {
  font-size: 200%;
}

.categories {
  text-align: right;
}

.category {
  display: inline;
  font-weight: bold;
  background: $colors-deep;
  margin: 0 3px;
  padding: 0 5px;
  border-radius: 5px;
}

.category.no-background {
  background: #FFFFFF;
}

.post-list {
  @extend .screen-content;
  margin: 0 auto;
  list-style-type: none;
}

.post-list p::first-letter {
  font-size: 200%;
}

.post-link {
  text-decoration: none;
}

.home-heading {
  @extend .screen-content;
  font-family: $fonts-decorative;
  text-align: center;
}

.heading {
  font-size: 20px;
}

.sub-heading {
  font-size: 12px;
}

.rss {
  text-align: center;
}

.return-home {
  margin: 5px;
}

nav {
  width: 97%;
  text-align: center;
  font-weight: bold;
}

.nav-item {
  display: inline-block;
  margin: 5px;
}

.archive-list {
  @extend .screen-content;
  font-family: $fonts-decorative;
}

.archive-item {
  margin: 10px;
}

.archive-post-meta {
  font-size: 13px;
}

.archive-post-title {
  text-align: left;
}

.warning {
  font-family: $fonts-decorative;
  text-align: center;
}

.highlight {
  display: inline-block;
  background: $colors-code-background;
  border-radius: 0 25px 25px 0;
  padding: $spacing-unit / 3;
  margin-bottom: $spacing-unit / 2;
  font-family: $fonts-source-code;
  font-size: $fonts-source-size;
}

@media (max-width: 400px) {
  nav {
    width: 88%;
  }

  .categories {
    display: none;
  }
}

@import "syntax-highlighting", "animations";