---

---

$colors-smog: 	#82938A;
$colors-seron: 	#4A4A45;
$colors-sit: 	#999287;
$colors-kiezel: #C3CBAC;
$colors-cake: 	#FCA366;

.smog-row {
  height: 100%;
  background-color: $colors-smog;
}

.kiezel-row {
  height: 100%;
  background-color: $colors-kiezel;
}

.cake-row {
  height: 100%;
  background-color: $colors-cake;	
}

.seron-row {
  height: 100%;
  background-color: $colors-seron;
}

.col-content {
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.col-content p {
  font-family: Perpetua;
}

.avatar {
  margin-top: 5em;
  margin-bottom: 1em;
  width: 150px;
  border-radius: 50%;
  border: 4px solid;
}

.viewport {
  height: 100%
}

html, body {
	height: 100%;
	min-height: 100%;
}