---
---

@import "animations";

$fonts-google-narrow: 'PT Sans Narrow', sans-serif;
$fonts-google-open: 'Open Sans Condensed', sans-serif;

$colors-fall: #31415A;
$colors-white: #FFFFFF;
$colors-deep:  #1CBABC;
$colors-light: #97CCEE;

a { 
  color: $colors-fall;
  text-decoration: none;
}

strong {
  color: $colors-fall;
}

body, html {
  margin: 0;
  overflow: hidden;
  font-family: $fonts-google-narrow;
}

#hello {
  background-color: $colors-deep;
}

#more-info {
  position: relative;
  background-color: $colors-light;
}


.loading-screen {
  z-index:4;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $colors-white; 
}

@-webkit-keyframes rotation {
  from { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.col-content {
  font-weight: bold;
  text-align: center;
  color: $colors-white;
}

.avatar {
  margin-top: 5em;
  margin-bottom: 1em;
  width: 150px;
  border-radius: 50%;
  border: 4px solid;
}

.nav-container {
  z-index: 2;
  position: fixed;
  top: 30px;
  right: 20px;
}

nav#in-page-menu {
  width: 20px;
  height: 20px;
}

nav div {
  color: $colors-fall;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid;
  margin: 5px;
}

nav div.active {
  background-color: $colors-fall;
}

nav li a {
  color: inherit;
}

.repository-section-description {
  display: table;
  text-align: center;
  width: 100%;
  height: 200px;
}

.section-description-content {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  color: $colors-fall;
}

.repositories-container {
  margin: auto;
  max-width: 665px;
}

.repository {
  display: inline-block;
  width: 300px;
  height: 150px;
  vertical-align: top;
  margin: 5px;
  padding: 10px;
}

.repository-name {
  text-align: left;
  font-family: $fonts-google-open;
  color: $colors-deep;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.repository-description {
  clear:both;
  font-size: 16px;
  font-family: $fonts-google-open;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 0;
}

.repository-last-update {
  font-size: 13px;
  margin-top: 0;
  margin-left: 5px;
  text-align: left;
}

.repository-icon {
  float: left;
  width: 30px;
  height: 30px;  
  font-size: 30px;
}

.repository-languages {
  float: left;
  text-align: left;
  padding: 0;
  font-size: 15px;
}

.repository-languages i {
  margin-left: 5px;
  font-size: 20px;
}

.social-media {  
  text-align: center;
  width: 100%;
  bottom: 35px;
  font-size: 35px;
  color: $colors-white;
}

.welcome-header {
  font-size: 25px;
}

.welcome-text {
  font-size: 20px;
  width: 60%;
  margin: auto;
}

.spacer {
  height: 10em;
}

.more-about-me {
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  font-size: 25px;
  color: $colors-white;
}

.power-by-container {
  font-size: 20px;
  color: $colors-fall;
  position: absolute;
  width: 100%;
  bottom: 35px;
  text-align: center;
  margin: 0 auto;
}

.wrap {
  display: black;
  width: 100%;
  height: 100%;
}

.navigation {
  display: inline-block;
  width: 0;
  height: 100%;
  background-color:  black;
  transition: width 1s ease;
}

.open {
  width: 500px;
}

.content-wrap {
  position: absolute;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.toggle-menu {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 15px;
  width: 35px;
  height: 35px;
}

.toggle-menu:hover {
  cursor: pointer;
}

.menu-line {
  height: 5px;
  width: 100%;
  background-color: $colors-fall;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: width 1.5s ease, background 2s ease;
}

.menu-line-open {
  display: inline-block;
  height: 100%;
  width: 5px;
  background-color: $colors-white;
  margin-left: 2px;
  margin-right: 2px;
}

@media (max-width: 700px) and (orientation: portrait) {
  .repository {
    display: inline-block;
    height: 85px;
    width: 250px;
    margin: auto;
    padding: 0;
    margin: 10px;
  }

  .spacer {
    height: 150px;
  }

  .repository-section-description {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    height: 80px;
  }

  .section-description-content {
    font-size: 15px;
  }

 .repository-description {
    display: none;
  }

  .repository-languages {
    clear: none;
    margin: 0;
  }

  .repositories-container {
    width: 250px;
  }
}


@media (max-width: 700px) and (orientation: landscape) {
  .repository {
    display: inline-block;
    height: 85px;
    width: 225px;
    margin: auto;
    padding: 0;
    margin: 10px;
  }

  .repository-section-description {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    height: 80px;
  }

  .section-description-content {
    font-size: 15px;
  }

 .repository-description {
    display: none;
  }

  .repository-languages {
    clear: none;
    margin: 0;
  }

  .repositories-container {
    max-width: 520px;
  }

  .col-content {
    text-align: left;
  }

  .avatar {
    margin-top: 2em;
    margin-bottom: 0.5em;
    width: 150px;
  }

  .avatar-container {
    display: inline-block;
    max-width: 150px; 
    text-align: center;
    margin: 0 2em;
  }

  .welcome-text {
    font-size: 20px;
    width: inherit;
    margin: auto;
  }

  .welcome-text-container {    
    display: inline-block;
    vertical-align: top;
    width: 300px;
    text-align: center;
    margin-left: 3em;
    margin-top: 5em;
  }

  .spacer {
    height: 50px;
  }
}
