---

---

$colors-smog: 	#82938A;
$colors-seron: 	#4A4A45;
$colors-sit: 	#999287;
$colors-kiezel: #C3CBAC;
$colors-cake: 	#FCA366;

.col-content {
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.avatar {
  margin-top: 5em;
  margin-bottom: 1em;
  width: 150px;
  border-radius: 50%;
  border: 4px solid;
}

.nav-container {
  z-index: 3;
  position: fixed;
  top: 30px;
  left: 10px;
  width: 100%;
}

nav {
  width: 1.5em;
  height: 1.5em;
}

nav div {
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid;
  margin: 5px;
}

nav div.active {
  background-color: #fff;
}

nav li a {
  color: inherit;
	
}