---
layout: default
---

<div class="home">

  <div class="home-heading">
    <p class="heading">Wild, Wild Thoughts</p>
    <span class="sub-heading">From the desk of Julio Henriquez<span>
  </div>

  <div class="rss" title="Subscribe via RSS">
    <p>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class="fa fa-rss fa-2x rotate-once"></i>
      </a>
    </p>
  </div>

  <nav>
    <ul>
      <a href="{{ "/archive" | prepend: site.baseurl }}">
        <li class="nav-item">
          ARCHIVE
        </li>
      </a>
    </ul>
  </nav>

  <ul class="post-list">
    {% for post in site.posts limit: 5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <ul class="categories">
          {% for category in post.categories %}
          {% capture qs %}{{ '?c='}}{{category}}{% endcapture %}
          <li class="category no-background">
            {{category | capitalize }}
          </li>
          {% endfor %}
        </ul>

        <p>{{ post.excerpt }}</p>

        <span class="read-more">
          <a href="{{ post.url | prepend: site.baseurl }}">Read More...<a>
        </span>

      </li>
    {% endfor %}
  </ul>
</div>