---
layout: default
---

<div class="home">

  <ul class="post-list">

    {% include no-posts-warning.html %}

    {% for post in site.posts limit: 5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <ul class="categories">
          {% for category in post.categories %}
          {% capture qs %}{{ '?c='}}{{category}}{% endcapture %}
          <li class="category no-background">
            {{category | capitalize }}
          </li>
          {% endfor %}
        </ul>

        <p>{{ post.excerpt }}</p>

        <span class="read-more">
          <a href="{{ post.url | prepend: site.baseurl }}">Read More...<a>
        </span>

      </li>
    {% endfor %}
  </ul>
</div>